<header>
    <div class="container">
        <div class="intro">
            <p class="intro__pre">Hello</p>
            <p class="intro__main">My name is <span>{{ site.name }}</span>, a {{ site.job }} who loves all things {{ site.languages }}</p>
            <p class="intro__post">{{ site.location }}</p>
        </div>

        {{ if site.Down resume or site.email_address }}
        <div class="social">
            {{ if site.Down resume_username }}<a href="HDAJ200003019.pdf">Down resume</a>{{ endif }}
            {{ if site.email_address }}<a href="mailto:{{ site.email_address }}" target="_blank">Email</a>{{ endif }}
        </div>
        {{ endif }}

    </div>
</header>
