<h3 class="section-title">research experience</h3>
<dl class="research experience">
    {% for job in site.data.job1 %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd>
            <p><a href="ai2018.pdf"  style="background:none;text-decoration:none  hover="text-decoration:black">{{ job.description }}</a></p>
        </dd>
    {% endfor %}
</dl>


                
<dl class="research experience">
{% for job in site.data.job2 %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd>
            <p><a href="qi2017.pdf"  style="background:none;text-decoration:none  hover="text-decoration:black">{{ job.description }}</a></p>
        </dd>
    {% endfor %}
</dl>



<h3 class="section-title">organization experience</h3>
<dl class="organization experience">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>


